# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore database config file, use the sample on the server
/config/database.yml

# Ignore the public dynamic files
/public/uploads/*
